<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Final Project Portfolio</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" >
</head>
<body>
    <h1 class="title-header">Group 5 Project Managment Portfolio</h1>
    <div class = "nav-main">
      <nav class="nav-container">
            <div class="nav-pages">
                <a href="index.html">Home Page</a>
                <a href="Gantt Chart">Gantt Chart</a>
                <a href="Team Profile">Team Profile</a>
                <a href="#charter-anchor">Project Charter</a>
            </div>
      </nav>

    </div> 

<section class="project-charter">
    <h1 id="charter-anchor">Our Project Charter</h1>
  <!--  <iframe width="800" height="500" frameborder="0" scrolling="no" src="https://mailuc-my.sharepoint.com/personal/kerntr_mail_uc_edu/_layouts/15/Doc.aspx?sourcedoc={de3b04e2-7e18-4c90-a717-1b17688fac16}&action=embedview&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
</section> -->
</body>
</html>
